*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
    background-color: gray;
    width: 100%;
    position: fixed;
    top: 0;
}

li{
    list-style: none;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.5rem;
}

.Form{
    margin: 5rem 2rem;          
}


input[type=text], input[type=email], input[type=password], input[type=confirm-password],
submit {
width: 90vw;
height: 40px;
border: 1px solid #ccc;
border-radius: 0.5vw;
box-sizing: border-box;
font-size: 1rem;
color: black;
}

input[type=submit], button[type=submit] {
width: 20vw;
height: 40px;
background-color: #ccc;
color: black;
border: none;
cursor: pointer;
font-size: 2vw;
}

input[type=submit]:hover {
background-color: #45a049;
}